<h1><%= @title %></h1>

<p>Please Sign in with your Meetup.com account. The link below will take you to Meetup.com for authorization. Once accepted you will be able to continue accessing our site.</p>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-5">
  <a href="/auth/meetup" class="btn btn-primary btn-lg btn-block">Sign in with Meetup.com</a>
  </div>
</div>
