<h1><%= @title %></h1>

<p>Please login with your Meetup.com account. The link below will take you to Meetup.com so you may login. Once your account is authenticated you will be able to continue accessing our site.</p>

<a href="/auth/meetup">Login with Meetup.com</a>

