<h1><%= @title %></h1>

<p>Please Sign in with your Meetup.com account. The link below will take you to Meetup.com for authorization. Once accepted you will be able to continue accessing our site.</p>

<a href="/auth/meetup">Sign in with Meetup.com</a>

