/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *  require_tree .
 */


.signin-nav-gap{
width:50px;
}
.project-box a:hover{
text-decoration: none;
}
.project-name{
font-size:large;
}
.project-lang{
color:#9f9f9f;
font-size:small;
}
.ul-thumb{
padding-left:0;
list-style-type:none;
}
.ul-thumb li{
display:inline;
text-align:center;
}
