<div class="row">
    <h1><span class="glyphicon glyphicon-th-large"></span> <%= @title %></h1>
</div>
<div class="row">
  <%= form_tag "/user/groups/sync", {id: "sync_group_form"} do %>
    <button type="submit" class="btn-lg btn-primary">
      <span class="glyphicon glyphicon-refresh"></span> Sync
    </button>
  <% end %>
</div>


<div class="row">
  <%= render partial: 'groups/group', collection: @user.groups %>
</div>
