<h1><%= @title %></h1>

<div class="groups">
  <ul>
  <% @groups.each do | group | %>
  <li>
    <div class="group-img">
      <a href="/groups/<%= group.urlname %>"><img src="<%= group.mu_thumb_link %>"/> <%= group.mu_name %></a>
    </div>
  </li>
  <% end %>
  </ul>
</div>

