<h1><%= @title %></h1>

<p>This is the site landing page.</p>
<p>As a starting point, we may want to list all (ones users brought over) Meetup groups here, by City. Maybe a group name search function to help quickly find a specific group.
</p>

<div class="groups">
  <h2>Meetup Groups</h2>
  <ul>
  <% @groups.each do | group | %>
  <li>
    <div class="group-img">
      <img src="<%= group.mu_thumb_link %>"/>
      <a href="<%= group.mu_link %>"><%= group.mu_name %></a>
    </div>
  </li>
  <% end %>
  </ul>
</div>

