<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class='well'>
    <div class='row'>
      <div class='col-md-4'>
        <%= image_tag(project.user.mu_thumb_link, class: 'img-circle') %>
      </div>
      <div class='col-md-8'>
        <%= link_to content_tag(:h4, project.name), project_path(project) %>
        <small><%= project.language %></small>
        <div class='row'>
          <% if project.is_github -%>
            <img src="/images/GitHub-Mark-32px.png" height="16px" title="GitHub project" class='pull-right' />
          <% else -%>
            <span class="glyphicon glyphicon-folder-open pull-right" title="Project"></span>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
