<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class='well'>
    <div class='row'>
      <div class='col-md-4'>
        <%= link_to image_tag(project.user.mu_thumb_link, class: 'img-thumb'), member_path(project.user) %>
      </div>
      <div class='col-md-8'>
        <%= link_to content_tag(:h4, project.name), project_path(project) %>
        <p>
          <% if project.is_github -%>
            <img src="/images/GitHub-Mark-32px.png" height="16px" title="GitHub project" />
          <% else -%>
            <span class="glyphicon glyphicon-folder-open" title="Project"></span>
          <% end -%>
          <small><%= project.language %></small>
        </p>
      </div>
    </div>
  </div>
</div>
